#navbar,#footer-navbar{
    text-align: center;

}
#navbar ul{
     display: inline-block;
 }
#grid .section-heading h2{
    color: #000;
}
#grid .section-heading .subtext h3{
    color: #000;
}
.footer-ul{
    list-style: none;
    margin:0;
    padding:0;
}

#footer-ul h4{
    color: #fff;
}

.icon i{
    font-size: 60px;
    color: #37a000 !important;
}

#fh5co-resume .section-heading h2{
    color: #000;
}
#fh5co-resume .section-heading h3{
    color: #000;
}