
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cotton Biology & Stress Biology</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
    <meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
    <meta name="author" content="FREEHTML5.CO" />

    <!--
      //////////////////////////////////////////////////////

      FREE HTML5 TEMPLATE
      DESIGNED & DEVELOPED by FREEHTML5.CO

      Website: 		http://freehtml5.co/
      Email: 			info@freehtml5.co
      Twitter: 		http://twitter.com/fh5co
      Facebook: 		https://www.facebook.com/fh5co

      //////////////////////////////////////////////////////
       -->

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="ico/favicon2.ico">

    <!-- Animate.css -->
    <link rel="stylesheet" href="css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="css/icomoon.css">
    <!-- Simple Line Icons -->
    <link rel="stylesheet" href="css/simple-line-icons.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/timetable.css">

    <!-- Bootstrap  -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/flickity.css">
    <link rel="stylesheet" href="css/fakeloader.css">
    <!--
    Default Theme Style
    You can change the style.css (default color purple) to one of these styles

    1. pink.css
    2. blue.css
    3. turquoise.css
    4. orange.css
    5. lightblue.css
    6. brown.css
    7. green.css

    -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/component.css">
    <link rel="stylesheet" href="css/demo.css">
    <link rel="stylesheet" href="css/self.css">
    <!-- Modernizr JS -->
    <script src="js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="js/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<div class="fakeloader"></div>
<svg class="hidden">
    <symbol id="icon-arrow" viewBox="0 0 24 24">
        <title>arrow</title>
        <polygon points="6.3,12.8 20.9,12.8 20.9,11.2 6.3,11.2 10.2,7.2 9,6 3.1,12 9,18 10.2,16.8 "></polygon>
    </symbol>
    <symbol id="icon-drop" viewBox="0 0 24 24">
        <title>drop</title>
        <path d="M12,21c-3.6,0-6.6-3-6.6-6.6C5.4,11,10.8,4,11.4,3.2C11.6,3.1,11.8,3,12,3s0.4,0.1,0.6,0.3c0.6,0.8,6.1,7.8,6.1,11.2C18.6,18.1,15.6,21,12,21zM12,4.8c-1.8,2.4-5.2,7.4-5.2,9.6c0,2.9,2.3,5.2,5.2,5.2s5.2-2.3,5.2-5.2C17.2,12.2,13.8,7.3,12,4.8z"></path><path d="M12,18.2c-0.4,0-0.7-0.3-0.7-0.7s0.3-0.7,0.7-0.7c1.3,0,2.4-1.1,2.4-2.4c0-0.4,0.3-0.7,0.7-0.7c0.4,0,0.7,0.3,0.7,0.7C15.8,16.5,14.1,18.2,12,18.2z"></path>
    </symbol>
    <symbol id="icon-github" viewBox="0 0 32.6 31.8">
        <title>github</title>
        <path d="M16.3,0C7.3,0,0,7.3,0,16.3c0,7.2,4.7,13.3,11.1,15.5c0.8,0.1,1.1-0.4,1.1-0.8c0-0.4,0-1.4,0-2.8c-4.5,1-5.5-2.2-5.5-2.2c-0.7-1.9-1.8-2.4-1.8-2.4c-1.5-1,0.1-1,0.1-1c1.6,0.1,2.5,1.7,2.5,1.7c1.5,2.5,3.8,1.8,4.7,1.4c0.1-1.1,0.6-1.8,1-2.2c-3.6-0.4-7.4-1.8-7.4-8.1c0-1.8,0.6-3.2,1.7-4.4C7.4,10.7,6.8,9,7.7,6.8c0,0,1.4-0.4,4.5,1.7c1.3-0.4,2.7-0.5,4.1-0.5c1.4,0,2.8,0.2,4.1,0.5c3.1-2.1,4.5-1.7,4.5-1.7c0.9,2.2,0.3,3.9,0.2,4.3c1,1.1,1.7,2.6,1.7,4.4c0,6.3-3.8,7.6-7.4,8c0.6,0.5,1.1,1.5,1.1,3c0,2.2,0,3.9,0,4.5c0,0.4,0.3,0.9,1.1,0.8c6.5-2.2,11.1-8.3,11.1-15.5C32.6,7.3,25.3,0,16.3,0z"></path>
    </symbol>
    <symbol id="icon-keyboard" viewBox="0 0 100 70">
        <title>keyboard</title>
        <!-- https://thenounproject.com/term/keyboard/783/ by Paul te Kortschot from the Noun Project -->
        <path d="M 60.94,1.83 39.22,1.83 C 36.71,1.83 34.67,3.86 34.67,6.376 L 34.67,28.1 C 34.67,30.61 36.71,32.65 39.22,32.65 L 60.94,32.65 C 63.45,32.65 65.5,30.61 65.5,28.1 L 65.5,6.376 C 65.5,3.86 63.45,1.83 60.94,1.83 Z M 44.79,18.63 50.08,11.74 55.37,18.63 Z" opacity="0.2"></path>
        <path d="M 60.86,36.75 39.14,36.75 C 36.63,36.75 34.59,38.79 34.59,41.3 L 34.59,63.02 C 34.59,65.53 36.63,67.57 39.14,67.57 L 60.86,67.57 C 63.38,67.57 65.41,65.53 65.41,63.02 L 65.41,41.3 C 65.42,38.79 63.38,36.75 60.86,36.75 Z M 50.08,57.45 44.79,50.55 55.37,50.55 Z" opacity="0.2"></path>
        <path d="M 95.45,36.75 73.73,36.75 C 71.22,36.75 69.18,38.79 69.18,41.3 L 69.18,63.02 C 69.18,65.53 71.22,67.57 73.73,67.57 L 95.45,67.57 C 97.97,67.57 100,65.53 100,63.02 L 100,41.3 C 100,38.79 97.97,36.75 95.45,36.75 Z M 83.4,57.45 83.4,46.86 90.3,52.16 Z"></path>
        <path d="M 26.27,36.75 4.55,36.75 C 2.037,36.75 0,38.79 0,41.3 L 0,63.02 C 0,65.53 2.037,67.57 4.55,67.57 L 26.27,67.57 C 28.78,67.57 30.82,65.53 30.82,63.02 L 30.82,41.3 C 30.82,38.79 28.78,36.75 26.27,36.75 Z M 16.69,57.45 9.79,52.16 16.69,46.86 Z"></path>
    </symbol>
</svg>


<header role="banner" id="fh5co-header">
    <div class="row">
        <!-- <div class="row"> -->
        <div class="col-md-offset-1 col-md-1">
            <a class="navbar-brand" href="index.html">Key Bio</a>
        </div>
        <div class="col-md-8">
            <nav class="navbar navbar-default">
                <div class="navbar-header">
                    <!-- Mobile Toggle Menu Button -->
                    <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>

                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-center" style="float: none;">
                        <li class="active"><a href="#" data-nav-section="Index"><span>Index</span></a></li>
                        <li><a href="#" data-nav-section="Introduction"><span>Introduction</span></a></li>
                        <li><a href="#" data-nav-section="News"><span>News</span></a></li>
                        <li><a href="#" data-nav-section="Research"><span>Research</span></a></li>
                        <li><a href="#" data-nav-section="Technical Platform"><span>Technical Platform</span></a></li>
                        <li><a href="#" data-nav-section="Communication"><span>Communication</span></a></li>
                        <li><a href="#" data-nav-section="Academic Activities"><span>Academic Activities</span></a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="col-md-2">
            <ul class="language">
                <li><a href="#">CN</a></li>
                <li>/</li>
                <li><a href="#" class="active">EN</a></li>
            </ul>
        </div>

        <!-- </div> -->
    </div>
</header>








<section id="fh5co-about" data-section="about" style=";background-color: #fffbf0;height: 1280px ">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-center" style="margin-top: 10%">
                <h2 class="to-animate">Biography</h2>
                <div class="row" style="margin-top: 80px;margin-right: 20px">
                    <div class="col-md-2  subtext to-animate">
                        <img src="img/1.png">
                    </div>
                    <div class="col-md-8 col-md-offset-2  to-animate" style="color: black">
                        <h3 style="color: #3a269f!important;font-size: 26px" class="subtext">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</h3>
                        <h3  align="right" style="color: #3a269f!important;font-size: 26px" class="subtext">---Dr. Pedraza</h3>
                        <div align="left">
                            <p>Dr. Pedraza is originally from South America. He completed General Psychiatry at Maimonides Medical Center in Brooklyn NY, and Child and Adolescent Psychiatry training at Mount Sinai Medical Center. Dr Pedraza is a highly regarded clinician with special expertise in the areas of ADHD, Aggression and Disruptive Behavior Disorders. Dr. Pedraza developed and directed the ADHD specialty Clinic at Mount Sinai Medical Center. Over the last few years he spent a significant amount of time supervising residents and fellows in psychopharmacology and new psychiatric evaluations.</p>
                            <p>He also has special expertise in treating anxiety disorders, autism spectrum disorder and mood disorders in children. Dr. Pedraza has been working within Mount Sinai’s ADHD division since he started his child psychiatry fellowship, and he has participated in multiple studies focusing on clinical and translational research. Recently he has focused on developing an innovative tool to help in the diagnosis of ADHD and related disorders. Dr. Pedraza has published multiple articles and book chapters on the treatment of ADHD and Disruptive Behavior Disorders in adults and children. He is also a certified ADHD evaluator for the NFL and Chief of Psychiatry at St. Joseph’s Wayne Hospital in NJ.
                                Dr. Pedraza is assistant professor of Psychiatry and Child Psychiatry at the Icahn School of Medicine and Faculty of the Graduate School of Biomedical Sciences at the Icahn School of Medicine – Mount Sinai Medical Center in NYC.
                                Dr. Pedraza is board certified in Psychiatry and Neurology and Child and Adolescent Psychiatry.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>











<footer id="footer" style="background: url('images/banner/footer.jpg');-webkit-background-size: cover;background-size: cover;: " role="contentinfo">
    <div class="container">

        <div class="row" id="footer-ul">
            <div class="col-md-5 text-center" >
                <div class="row">
                    <div class="col-md-6 col-xs-6">
                        <h1 style="margin-top: 1.6em"><span style="color: #b9ff7d;">Henu</span>·<span style="color: #44fff5;">Lab</span></h1>
                    </div>
                    <div class="col-md-6 col-xs-6">
                        <h4><i class="icon-link"></i> Friendship link</h4>
                        <ul class="footer-ul">
                            <li><a href="#">henu</a></li>
                            <li><a href="#">stanford</a></li>
                            <li><a href="#">peru</a></li>
                            <li><a href="#">pku</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-2 text-center">
            </div>
            <div class="col-md-5 text-center">
                <div class="row">
                    <div class="col-md-6 col-xs-6">
                        <h4><i class="icon-link"></i> Friendship link</h4>
                        <ul class="footer-ul">
                            <li><a href="#">henu</a></li>
                            <li><a href="#">stanford</a></li>
                            <li><a href="#">peru</a></li>
                            <li><a href="#">pku</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-xs-6">
                        <h4><i class="icon-link"></i> Friendship link</h4>
                        <ul class="footer-ul">
                            <li><a href="#">henu</a></li>
                            <li><a href="#">stanford</a></li>
                            <li><a href="#">peru</a></li>
                            <li><a href="#">pku</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr style="background-color: #003c6a;border: none;height: 1px;">
    <div >
        <div class="container" >
            <div class="row">
                <div class="col-md-12 text-center footer-p" >
                    <p>Copyright@2017 | State Key Laboratory of Cotton Biology & Key Laboratory of Plant Stress Biology | All Rights reserved</p>
                    <p>Address: China - Henan - Kaifeng contact phone: 0371 - 23881387 Fax: 0371 - 23881387</p>
                    <p>Technical support: the website studio of the school of software, Henan University</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- jQuery -->
<script src="js/jquery.min.js"></script>
<script src="js/fakeloader.min.js"></script>
<script>
    $(function () {
        $(".fakeloader").fakeLoader({
            timeToHide: 1200,
            bgColor: "#97adb6",
            spinner: "spinner7"
        });
    })
</script>
<!-- jQuery Easing -->
<script src="js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="js/jquery.waypoints.min.js"></script>
<!-- Stellar Parallax -->
<script src="js/jquery.stellar.min.js"></script>
<!-- Counter -->
<script src="js/jquery.countTo.js"></script>
<script src="js/fullplay.js"></script>
<!-- End demo purposes only -->
<script src="js/anime.min.js"></script>
<script src="js/jquery.magnific-popup.js"></script>
<script src="js/timetable.js"></script>
<!-- Main JS (Do not remove) -->
<script src="js/flickity.pkgd.min.js"></script>
<script src="js/snap.svg-min.js"></script>

<script src="js/main.js"></script>
<script type='text/javascript'>
    $(document).ready(function() {

        $("#bodyPage").fullImages({
            ImgWidth: 1900,
            ImgHeight: 980,
            autoplay: 3000,
            fadeTime: 2000
        });

        function init() {
            var speed = 330,
                easing = mina.backout;

            [].slice.call(document.querySelectorAll('#grid > div > div > a')).forEach(function (el) {
                var s = Snap(el.querySelector('svg')), path = s.select('path'),
                    pathConfig = {
                        from: path.attr('d'),
                        to: el.getAttribute('data-path-hover')
                    };

                el.addEventListener('mouseenter', function () {
                    path.animate({'path': pathConfig.to}, speed, easing);
                });

                el.addEventListener('mouseleave', function () {
                    path.animate({'path': pathConfig.from}, speed, easing);
                });
            });
        }

        init();
        $('.main-carousel').flickity({
            // options
            cellAlign: 'left',
            contain: true
        });
        $('.second-carousel').flickity({
            // options
            cellAlign: 'left',
            contain: true
        });
    });
</script>
</body>
</html>

